.Logo-super {
  margin: 0 25px;
  font-family: 'Monoton', cursive;
  /* font-family: 'RujisHandwritingFontv20Medium'; */
  /* font-family: 'Margarine'; */
  /* font-weight: bold; */
  font-size: 42px;
  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}